extends layout/main-layout.pug
block content 
    if !profileUser
        span.errorMessage Oops! The requested user profile was not found.
    else
        .postsContainer 
        +createdeleteModal()
        +createReplyModal(userLoggedIn)
    
block scripts
    script(src="/js/profilePage.js")
